<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('includes/navbar') %>

    <div class="container">
    <% for( let i = 0; i < comics.length; i++ ) { %>
        <div class="comic-card">
            <a href="product/<%= comics[i].comicId %>">
                <img src="<%= comics[i].coverArtLink %>" alt="<%= comics[i].name %>" class="comic-image">
                <p><%= comics[i].name %></p>
                <input type="hidden" name="comicId" value="<%= comics[i].comicId %>">
            </a>
        </div>
    <% } %>
    </div>

    <p><%= username %></p>

</body>
</html>