<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <title><% title %></title>
</head>
<body>

    <%- include('includes/navbar') %>

    <h1><%= comic.name %></h1>
    <img src="<%= comic.coverArtLink %>" alt="<%= comic.name %>">
    <p><%= comic.summary %></p>
    <p><%= comic.price %></p>

    <p>add 2 cart</p>

</body>
</html>